*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    /* color:#f8f9fa; */
}
.container{
    width: 80%;
    margin: auto;
    background-color:#f8f9fa ;
  
  
    
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
       
}
.mune{
    display: flex;
    gap: 200px;
    align-items: center;
   text-transform: capitalize;

}
ul{
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 35px;
    color:#f08080 ;
    
}
li:hover{
    transform: scale(1.2);
    transition: all 0.2s ease ;
    color:#354f52 ; 
}
.qorl{
    font-size: 35px;
    font-weight: 800;
    font-family:Arial, Helvetica, sans-serif ;
    
}
.qorl:hover{
    transform: scale(1.2);
    transition: all 0.9s ease ;   
}
.logo img{
    width: 20px;
}
.img img{
    width: 35px;
    border-radius:100%;
    border:1px solid black;
}
.loge-img{
    display: flex;
    gap: 30px;
    align-items: center;
}
hr{
    margin-top: 2rem;
    font-weight: 100;
}
.dhexe{
 display: flex;
 gap: 40px;
 margin-top: 4rem;
}
.midweyn img{
    width: 90%;
    border: 2px solid burlywood;
    border-radius: 4rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.midyar {
    display: flex;
    gap: 10px;
    margin-top: 1rem;
    width: 80%;
    padding: 0 2rem;
 
    
}
#kabcadan:hover{
    transform: scale(1.4);
    transition: all 0.9s ease ; 
}
#gren:hover{
    transform: scale(1.4);
    transition: all 0.9s ease ; 
}
#madow:hover{
    transform: scale(1.4);
    transition: all 0.9s ease ; 
}
.midweyn:hover{
    transform: scale(1.1);
    transition: all 0.5s ease ;
}
.midyar img{
border: 2px solid burlywood;
border-radius: 2rem;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
width: 30%;
}
h6{
    text-transform: capitalize;
    font-weight: 100;
    color:#fb8500 ;
}
h1{
    text-transform: capitalize;
    font-size: 80px;
    margin-top: 1rem;
}
p{
    font-size: 18px;
    font-weight: 100;
    text-indent: 0;
    margin-top: 1rem;
}
article{
    font-weight: 600;
    gap: 20px;
    margin-top: 4rem;
}
article span{
    background-color:#fcbf49 ;
    color: #fb8500;
    margin-top: 2rem;

}
del{
    font-weight: 100;
}
.button{
    margin-top: 4rem;
    display: flex;
    gap: 40px;
}
.btn1{

    display: flex;
    gap: 20px;
    background-color: bisque;
    width: 10%;
    padding: 20px 40px;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btn1:hover{
    transform: scale(1.4);
    transition: all 0.9s ease ; 
    background-color: #fcbf49;
}

.neg{
    color:#fb8500;
    font-weight: 800; 
}
.zero{
    font-weight: 800;
}
.plus{
    color: #fb8500;
}


.btn2{
  display:flex;
  background-color: #fb8500;
  align-items: center;
 padding: 5px 40px;
 gap: 1rem;
 border-radius: 5rem;
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.btn2:hover{
    transform: scale(1.4);
    transition: all 0.9s ease ; 

}
.mg1 img{
    width: 20px;
    display: inline-flex;
    align-items: center;
    background-color: #fb8500;
    color: #fb8500;
}
  @media screen and (max-width:768px){


    .container{

    }
    .nav{
        display: none;
    }
    .midweyn img{
        width: 100%;
        height: 100%;
    }
    .midyar{
        flex-direction: column;
    }
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2REM;
}
.vid{
    display: flex;
    align-items: center;
    gap: 50px;
}
video{
    width: 2000px;
    height: 200px;
    border-radius: 2rem;
    margin-top: 1rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.vid p{
    font-size: 20px;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    text-indent: -2px;
    
}


